#buildings-container{
    margin-left: 30%;
    margin-right: 30%;
    width: 500px;
}

#buildings-table{
    border: 2px solid black;
}

.btn-owners{
   margin-left: 20%;
}

h2{
    margin-top: 50px;
}

h4{
    margin-bottom: 30px;
}