#announcements-container {
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	width: 1000px;
}
.announcement-add-btn {
	float: right;
}

#addAnnouncementModal textarea, input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #dedede;
}

#announcement-error-message {
	color: red;
}

.error-border{
	border: 1px solid red !important;
}

#confirmation-content-modal{
	width: 50%;
	margin-top: 30%;
	margin-left: 25%;
	background-color:  #b7b1b0;
	border: 1px solid red;
}

#confirmation-body{
	margin-left: 25%;
}

.notification-div{
	 width: 30%;
 }

#announcements-table {
	border: 2px solid black;
}

#announcements-table td{
	width: 200px;
}
thead{
	background-color: grey;
}

h1{
	margin-bottom: 40px;
}
