.navbar-fixed-side-left {
  left: 0;
}

.navbar-fixed-side {
  position: fixed;
  border-width: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 200px;
  margin-bottom: 0;
  border: 0px solid transparent;
}

.myNavigationBar{
    width: 190px;
    height: 100%;
}

.navbar-nav li{
    font-size: 22px;
}

h1, h2 {
    text-align: center;
}

body{
    background-color: #b7b1b0;
}