.input-field{
    border-radius: 5px;
    width: 200px;
}

h1{
    text-align: center;
}

#login-section{
   padding-top: 150px;
}

#error-login{
    color: red;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;  
}

body{
    background-color: #b7b1b0;
}

#username, #password{
    background-color: #e2dddc;
}

