#users-container{
    margin-left: 30%;
    margin-right: 30%;
    width: 700px;
}

#users-table{
    border: 2px solid black;
}

.btn-remove{
    margin-left: 25%;
   
}

#btn-add-user{  
    margin-left: 32%;
    margin-bottom: 18px;
    width: 100px;
}

#search-label{
 margin-left: 20%;
 font-size: 18px;
}

#search-input{
   
    height: 40px;
    border-radius: 5px;
    padding-top: 1%;
    margin-bottom: 3%;
}

h1{
    margin-bottom: 40px;
}

#confirmation-content-modal{
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
}

#confirmation-body{
    margin-left: 25%;
}

.notification-div{
    width: 30%;
    margin-left: 33%;
}

#confirmation-content-modal{
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
    background-color:  #b7b1b0;
    border: 1px solid red;
}

#confirmation-body{
    margin-left: 25%;
}

#add-user-error-message{
    color: red;
}

.error-border{
    border: 1px solid red;
}

.notification-div{
    width: 30%;
    margin-left: 30%;
}

.form-control{
    background-color: #eaecef;
}

