#meetings-container{
    margin-left: 20%;
    margin-right: 30%;
    width: 1000px;
}

#meetings-table{
    border: 2px solid black;
}

thead{
    background-color: grey;
}

h1{
    margin-bottom: 40px;
}

#btn-add-meeting{  
    margin-left: 22%;
    margin-bottom: 15px;
    width: 100px;
}

.form-control{
    background-color: #eaecef;
}

#add-meeting-error-message{
    color: red;
}

.error-border{
    border: 1px solid red;
}

#confirmation-content-modal{
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
    background-color:  #b7b1b0;
    border: 1px solid red;
}

#confirmation-body{
    margin-left: 25%;
}

.notification-div{
    width: 30%;
    margin-left: 30%;
}

.confirmed {
    background-color: lightgreen;
}

.confirmed:hover{
    background-color: green;
}

.infirmed {
    background-color: lightcoral;
}

.infirmed:hover{
    background-color: coral;
}