#complaints-container{
    margin-left: 20%;
    margin-right: 30%;
    width: 1000px;
}

#complaints-table{
    border: 2px solid black;
}

thead{
    background-color: grey;
}

h1{
    margin-bottom: 40px;
}

#btn-add-complaint{  
    margin-left: 22%;
    margin-bottom: 15px;
    width: 100px;
}

#priority-level{
    width: 30%;
}

.form-control{
    background-color: #eaecef;
}

#complaint-error-message{
    color: red;
}

.error-border{
    border: 1px solid red;
}

#confirmation-content-modal{
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
    background-color:  #b7b1b0;
    border: 1px solid red;
}

#confirmation-body{
    margin-left: 25%;
}

.notification-div{
    width: 30%;
    margin-left: 30%;
}