#water-consumption-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
}

#waterconsumption-table{
	border: 2px solid black;
}

thead{
	background-color: grey;
}

h1{
	margin-bottom: 40px;
}
